tiktoken==0.9.0
typer==0.15.2
httpx[http2]==0.28.1
PyMySQL==1.1.1
lunary==1.4.9
pandas==2.2.3
python-dotenv==1.0.1
openai==1.66.3
tenacity==8.5.0
beautifulsoup4==4.13.3
ib-insync==0.9.86
schedule
# notebook
yfinance
matplotlib
# tensorflow==2.17.0
mplfinance
# scikit-learn
seaborn
pytest-shutil